Project2/1/.spyproject/
Project2/1/cifar-10-batches-py/
Project2/1/pickled_data/
Project2/1/pickled_results/
Project2/1/e.sh
Project2/1/time
Project2/1/time_test
Project2/1/myapp.log
Project2/1/*.pyc
Project2/1/plots
Project2/misc/
Project2/2/cifar10_data/
Project2/2/.spyproject/
Project2/2/cifar10_input.pyc
Project2/2/errors
Project2/2/hyper_parameters.pyc
Project2/2/logs_test1/
Project2/2/resnet.pyc
Project2/2/error_files/
Project2/2/*.pyc
Project2/2/logs_batch-size256/
Project2/2/logs_lr_0.01/
Project2/2/logs_testing/
Project3/cifar-10-batches-py/
Project3/.spyproject/
Project3/1/data/
Project3/1/logs/
Project3/1/models/
Project3/1/e.sh
Project3/1/pickled/
Project3/2/data/
Project3/2/logs/
Project3/2/models/
Project3/2/pickled/
Project3/utils/*.pyc
TF-related/
Project2/1/analyze.py
Project2/2/analyze.py
Project2/2/bs_df.csv
Project2/2/hyperparam.sh
Project2/2/lr.csv
Project2/2/model_110.ckpt-79999
Project2/1/test.py
Project3/2/.spyproject/
Project3/2/*.npy
